# Week 7 cont. : Database

### Establish connection

In [7]:
import sqlite3

def dbconnection(dbfile):
    '''creates connection and cursor objects which allow you to work with the database'''
    conn = sqlite3.connect(dbfile)
    cur = conn.cursor()
    print("CONNECTION SUCCESSFUL")
    return conn, cur

### Create a not-yet-existing data table

In [ ]:
conn, cur = dbconnection("students.db")
cur.execute('''
    CREATE TABLE IF NOT EXISTS tblstudents (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER,
    grade TEXT
  )
  ''')
print("The table was created successfully")

### Inserting Data

In [5]:
cur.executescript('''
INSERT INTO tblstudents (name, age, grade)
VALUES ('Freddie', 17, 'A');

INSERT INTO tblstudents (name, age, grade)
VALUES ('Corinna', 17, 'A');
''')

### Fetching data

In [6]:
#1. Execute the query
cur.execute('''
    SELECT * FROM tblstudents;

''')
#2. Fetch records
rows = cur.fetchall()

#print results
for row in rows:
    print(row)
conn.close()

(1, 'Freddie', 17, 'A')
(2, 'Corinna', 17, 'A')