# Week 7 cont. : Database

### Establish connection

In [2]:
import sqlite3

def dbconnection(dbfile):
    '''creates connection and cursor objects which allow you to work with the database'''
    conn = sqlite3.connect(dbfile)
    cur = conn.cursor()
    print("connection success")
    return conn, cur

### Create a not-yet-existing data table

In [26]:
conn, cur = dbconnection("students.db")
cur.execute('''
    CREATE TABLE IF NOT EXISTS tblstudents (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER,
    grade TEXT
  )
  ''')
print("table creation success")

connection success
table creation success

### Inserting Data

In [27]:
cur.executescript('''
INSERT INTO tblstudents (name, age, grade)
VALUES ('Freddie', 17, 'A');

INSERT INTO tblstudents (name, age, grade)
VALUES ('Corinna', 17, 'B');
''')

### Fetching data

In [28]:
#1. Execute the query
cur.execute('''
    SELECT * FROM tblstudents;

''')
#2. Fetch records
rows = cur.fetchall()

#print results
for row in rows:
    print(row)
conn.close()

(1, 'Freddie', 17, 'A')
(2, 'Corinna', 17, 'A')
(3, 'Freddie', 17, 'A')
(4, 'Corinna', 17, 'B')

In [29]:
def select_display_results(dbpath,query_string):
    conn,cur = dbconnection(dbpath)
    #1. Execute the query
    cur.execute(f'''{query_string}''')
    #2. Fetch all rows
    rows = cur.fetchall()
    #print data
    for row in rows:
        print(row)

select_display_results("students.db","SELECT * FROM tblstudents")

connection success
(1, 'Freddie', 17, 'A')
(2, 'Corinna', 17, 'A')
(3, 'Freddie', 17, 'A')
(4, 'Corinna', 17, 'B')

### Column specific retrieval

In [ ]:
def select_display_results(dbpath,query_string):
    conn,cur = dbconnection(dbpath)
    #1. Execute the query
    cur.execute(f'''{query_string}''')
    #2. 
    for i in range(len(cursor.description)):
        print

select_display_results("students.db","SELECT name, age, grade FROM tblstudents")

connection success
[(1, 'Freddie', 17, 'A'), (2, 'Corinna', 17, 'A'), (3, 'Freddie', 17, 'A'), (4, 'Corinna', 17, 'B')]